/* FONTS */
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i,600,600i,700,700i);
/* GENERAL STYLES - BASE/COMMON */
* {
  transition: all 0.25s ease 0s; }

*,
html {
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

html {
  overflow-x: hidden; }

body {
  color: #F4F4F4;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Helvetica Neue;
  margin: 0;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

a:hover, a:active, a:focus,
button:hover,
button:active,
button:focus {
  cursor: pointer;
  font-weight: 600; }

a {
  text-decoration: none; }
  a.active {
    font-weight: 600; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0; }

input {
  background-color: transparent;
  border: none;
  font-size: 0.9375em;
  outline: none;
  padding: 0; }

/* HELPER CLASSES - BASE/HELPERS */
.ada-container {
  margin: 0 auto;
  max-width: 95%;
  width: 100%; }

.ada-heading {
  font-size: 2.25em;
  margin: 0 0 0.3125em 0;
  text-transform: uppercase; }
  @media all and (max-width: 90em) {
    .ada-heading {
      font-size: 1.75em; } }
  @media all and (max-width: 75em) {
    .ada-heading {
      font-size: 1.5em; } }
  @media all and (max-width: 61.25em) {
    .ada-heading {
      font-size: 1.125em; } }
  .ada-heading span {
    color: #E51D37;
    font-weight: 600; }

.adm-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F4F4F4;
  width: 100%; }
  .adm-loading > .ada-icon {
    font-size: 1.875em; }
  .adm-loading > .ada-text {
    font-size: 0.9375em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase; }

.ada-text {
  font-size: 1em; }
  @media all and (max-width: 48em) {
    .ada-text {
      font-size: 0.875em; } }

.adm-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  @media all and (max-width: 48em) {
    .adm-navigation {
      margin-top: 0.3125em; } }

#lightbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0;
  position: fixed;
  width: 100vw;
  z-index: -1; }
  #lightbox.open {
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 1;
    z-index: 15; }

.ado-lightbox {
  height: auto;
  padding: 0;
  width: 95%; }
  .ado-lightbox > .ada-container {
    height: 100%; }

.lightbox-footer {
  padding: 0.625em 0;
  width: 100vw; }
  .lightbox-footer > .ada-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }

.adt-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 1.875em;
  width: 70%; }
  @media all and (max-width: 90em) {
    .adt-section {
      width: 50%; } }
  @media all and (max-width: 75em) {
    .adt-section {
      width: 60%; } }
  @media all and (max-width: 61.25em) {
    .adt-section {
      width: 70%; } }
  @media all and (max-width: 48em) {
    .adt-section {
      background-color: rgba(244, 244, 244, 0.25);
      width: 100%; } }
  .adt-section > .ada-container {
    max-width: 92.5%; }

#section01 .ada-heading {
  font-weight: 300; }

#app {
  background-color: #E51D37;
  height: 100vh;
  padding: 2.5em 0;
  width: 100vw; }
  @media all and (max-width: 48em) {
    #app {
      background-color: #000;
      background-image: none !important; } }
  #app > .ada-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%; }
  #app.section01 {
    background-image: url("../assets/images/section01.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; }
  #app.section02 {
    background-image: url("../assets/images/section02.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    #app.section02 > .ada-container {
      justify-content: flex-end; }
  #app.section03 {
    background-image: url("../assets/images/section03.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  #app.section04 {
    background-image: url("../assets/images/section04.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    #app.section04 > .ada-container {
      justify-content: flex-end; }
  #app.section05 {
    background-image: url("../assets/images/section05.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  #app.section06 {
    background-image: url("../assets/images/section06.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    #app.section06 > .ada-container {
      justify-content: flex-end; }
  #app.section07 {
    background-image: url("../assets/images/section07.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
